
.venv
.venv/
venv
venv/
**/venv
**/.venv
__pycache__/
*.pyc 
*.pyo 
*.pyd 
.git/ 
.gitignore
.vscode/ 
*.postgersql
.pytest_cache/
*.jpeg
*.jpg 
*.png
media/
staticfiles/
*.dat
*.data
*.bin
*.log
*.tmp
image
image/
/image
**/image/**
